ul.nav {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    overflow: hidden;
    background-color: #909090;
  }

  li.nav {
    float: right;
    top: 0;
    border-left: 1px solid #bbb;
    font-size: 22px;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;

  }

  li.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    position: relative;
  }
li.nav a:after{
    content: '';
    position: absolute;
    background-color: black;
    height: 5px;
    width:0%;
    left:0;
    bottom: -4px;
    transition: 0.3s;
}
li.nav a:hover{
    color:black;
}
li.nav a:hover:after{
    width:100%;
}



table{
  margin: auto;
  text-align: center;
  width: 100%;
  border:1px solid #EEEEEE;
}

table tr{
  background-color: #eeeeee;
  color: black;
}

tfoot tr, thead tr th{
  background-color: #000000;
  font-size: 18px;
  color: black;
  font-weight: 700;
  color: white;
  padding: 18px;
}

table tr button{
  font-size: 15px;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;

}

table tfoot tr td{
  padding: 13px;
}

.EditButton{
  background-color: rgb(37, 131, 63);
  border-color: rgba(130, 121, 107, 0.15);
  box-shadow: rgba(22, 25, 28, 0.1) 0px 1px 0px;
  color: rgb(232, 230, 227);
  text-decoration-color: initial;
}

.ReportButton{
  background-image: linear-gradient(-180deg, rgb(24, 122, 165) 0%, rgb(24, 120, 160) 100%);
  color: rgb(232, 230, 227);
  text-decoration-color: initial;
  border-color: initial;
}
footer {
  background-color: #909090;
  text-align: center;
  color: white;
  padding: 10px;
}
footer .footerauth{
  border-left: 1px solid #bbb;
  font-size: 22px;
  font-family: 'Poppins',sans-serif;
  font-weight: 500;
  text-align: center;
  height:auto;
  list-style: none;
  word-spacing: 5px;
  line-height: 40px;
}
footer h3
{
  font-size: 40px;
  font-family: 'Poppins',sans-serif;
}
footer a{
  font-size: 22px;
  font-family: 'Poppins',sans-serif;
  text-decoration: none;
  color: white;
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
}
