* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../../../static/imgs/interact-abstract-5k-lb.jpg");
  color: white;
  background-attachment: fixed;
  background-size: contain;
  min-height: 100vh;
}

ul.nav {
  list-style-type: none;
  margin: 5px;
  padding: 5px;
  overflow: hidden;
  background-color: rgb(90 90 90 / 30%);
  border-radius: 5px;
}

li.nav {
  float: right;
  top: 0;
  border-left: 1px solid #bbb;
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

li.nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  position: relative;
}

li.nav a:after {
  content: '';
  position: absolute;
  background-color: black;
  height: 5px;
  width: 0;
  left: 0;
  bottom: -4px;
  transition: 0.3s;
}

li.nav a:hover {
  color: black;
}

li.nav a:hover:after {
  width: 100%;
}


/*AP CSS*/
a {
    color: white;
    text-shadow: blue;
    /*5 1 0 */
    text-decoration: none;
}

.mainclass {
    width: 80%;
    margin: 10% auto auto;
    text-shadow: 5px 2px 12px blue;
}

div div{
    font-size: 50px;
    margin: 20px;
    background-color: rgb(0 0 0 / 35%);
    border-radius: 5px;
    padding: 30px;
    align-content: center;
    text-align: center ;
}

/*End OF AP CSS*/

/*Remaining of Main CSS*/
table {
  text-align: center;
  width: 100%;
  margin: 50px auto auto;
  border: 1px solid #000000;
}

table tr {
  background-color: #eeeeee9a;
  color: rgb(0, 0, 0);
}

tfoot tr,
thead tr th {
  background-color: #1940a9;
  font-size: 18px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  padding: 18px;
}

table tr button {
  font-size: 15px;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

table tfoot tr td {
  padding: 13px;
}

table tbody tr .overflowText {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

table tbody tr:hover {
  background-color: #e3080886;
  color: black;
}

.EditButton:hover {
  background-color: #c4b211;
}

.ReportButton:hover {
  background-color: #ffd000a3;
}

.EditButton {
  background-color: rgb(8, 0, 255);
  border-color: rgba(130, 121, 107, 0.15);
  box-shadow: rgba(22, 25, 28, 0.1) 0 1px 0;
  color: rgb(232, 230, 227);
  text-decoration-color: initial;
}

.ReportButton {
  background-color: #db0c0c;
  color: rgb(232, 230, 227);
  text-decoration-color: initial;
  border-color: initial;
}

footer {
  width: 97.5%;
  background-color: rgb(90 90 90 / 30%);
  text-align: center;
  color: white;
  padding: 10px;
  margin: 5px;
  position: absolute;
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  bottom: 0;
}

footer .footerauth {

  font-size: 22px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-align: center;
  height: auto;
  list-style: none;
  word-spacing: 5px;
  line-height: 40px;
  margin: 5px;

}

footer h3 {
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  position: sticky;
}

footer a {
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: white;
  border: 2px solid rgb(17, 0, 255);
  padding: 5px;
  border-radius: 10px;

}

.formback {
  margin: auto;
  padding: 10px 10px;
  width: 50%;

  background: rgba(255, 9, 9, 0.021);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 3px solid rgba(17, 9, 255, 0.717);
  justify-content: center;
  text-align: center;
  z-index: 1;
}

.inputsyle {
  text-align: center;
  border-radius: 1px 1px;
  border-color: rgb(64, 1, 253);
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px 5px;
  -ms-border-radius: 5px 5px;
  -o-border-radius: 5px 5px;
  height: 30px;
  width: 40%;
  margin-bottom: 10px;
  background: transparent;
  color:white;
}

textarea {
  width: 00px;
  height: 100px;
}

label {
  max-width: 200px;
  min-width: 100px;
  display: inline-block;
}

.formIn {
  margin-top: 7%;
}

.inputsyle::placeholder {
  color: white;
}

.pb-10 {
  padding-bottom: 10px;
}

.d-flex {
  display: flex;
}

.button {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: transparent;
  border-color: rgb(0, 26, 255);
  width: 80px;
  height: 30px;
  transition-duration: 5ms;
  margin-top: 10px;


}

.buttonall {
  text-align: center;
}

.button:hover {
  background: rgba(0, 42, 255, 0.964);
  color: white !important;
}

.button a {
  text-decoration: none;
  color: black;
}

.searchbar {
  color: white;
  width: 500px;
  margin-left: 34%;
  margin-top: 1px;
  background-color: rgb(20 84 200 / 49%);
  height: 50px;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  box-shadow: 0 0 10px #0000ff;
}

.searchbar::placeholder {
  color: white;
}

.MainArticle {
  margin: 5px;
  z-index: 1;
}

.container {
  margin-top: 0;
}

.searchlist {
  background-color: white;
  width: 500px;
  height: 400px;
  position: absolute;
  margin-left: 33.9%;
  border-radius: 10px;
  display: none;
  z-index: 2;
  top: 7%;
  overflow-y: auto;
}

.searchlist::-webkit-scrollbar {
  display: none;
}

.items {
  color: #000000;
  padding: 10px;
  align-items: center;
  display: flex;
  width: 450px;
  margin: 2px 15px;
}

/*Search Bar*/
#resultOfSearch div:hover{
   background-color: gray;

}

#resultOfSearch{

    width: 300px;
    height: 300px;
    color: white;
   background-color: black;
    border: 5px white solid;
}

#resultOfSearch a{
    color: white;
    text-decoration: none;
}

/*Flash Messages*/
.flash-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #152238;
}

.flash-btn{
    padding: 10px 60px;
    background: white;
    cursor:pointer;
    font-size: 20px;
    border-radius: 30px;
    font-weight: 500;
}

.flash{
    width: 400px;
    background: white;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform:translate(-50%,-50%) scale(0.1) ;
    text-align: center;
    padding: 0 30px 30px;
     visibility: hidden;
     transition: transform 0.4s,top 0.4s;

}

.open-flash{
    visibility: visible;
    top: 50%;
    transform:translate(-50%,-50%) scale(1) ;
}

#success h2{
    font-size: 40px;
    font-weight: 500;
    margin: 30px 0 10px;
}

#success button{
    width: 100%;
    margin-top: 50px;
    padding:10px 0;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    background: #6fd649;
    border:none;

}

#success img{
    width:100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}



#warning h2{
    font-size: 40px;
    font-weight: 500;
    margin: 30px 0 10px;
}
#warning button{
    width: 100%;
    margin-top: 50px;
    padding:10px 0;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    background: yellow;
    border:none;

}
#warning img{
    width:100px;
    margin-top: -50px;
    border-radius: 50%;
    /* box-shadow: 0 2px 5px rgba(0,0,0,0.2); */
}

#error h2{
    font-size: 40px;
    font-weight: 500;
    margin: 30px 0 10px;
}
#error button{
    width: 100%;
    margin-top: 50px;
    padding:10px 0;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    background: #8B0000;
    border:none;

}
#error img{
    width:100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}