{% extends "base.html" %}
{% block body %}
  <div class="container">
    <div class="searchlist" id="search-list">

    </div>
    <div>
      <form class="formback " method="post" novalidate>
          {% csrf_token %}
          <div class="formIn">

              <div class="NameInput ">
                  <label for="{{ form.name.id_for_label }}">Name:</label>
                  {{ form.name }}
              </div>

              <br>

              <div class="BuildingNumberInput">
                  <label for="{{ form.building.id_for_label }}">Building No. :</label>
                  {{ form.building }}
              </div>

              <br/>

              <div class="FloorNumberInput">
                  <label for="{{ form.building.id_for_label }}">Floor No. :</label>
                  {{ form.floor }}
              </div>

              <br/>

              <div class="PCsNumberInput">
                  <label for="{{ form.building.id_for_label }}">PCs Number :</label>
                  {{ form.PCsNumber }}
              </div>
              <br/>

              <div class="ChairNumberInput">
                  <label for="{{ form.building.id_for_label }}">Chair No. :</label>
                  {{ form.ChairsNumber }}
              </div>
              <br/>

              <div class="StatusInput">
                  <p>Status :</p>
                    {{ form.status }}
              </div>

              <button id="editLap-Btn" type="submit" class="button">Save</button>
              <button id="deleteLap-Btn" class="button">Delete</button>
          </div>
      </form>
    </div>
  </div>

{% endblock %}