{% extends "base.html" %}

{% block body %}
    <article class="DeleteConfirmation">
    {% if pageTitle == "editLab" %}
        <p>
            You Sure That You Want to Delete "{{ lab.name }}"
            In Floor {{ lab.floor }} in Building Number {{ lab.building }}
            with Number of PCs {{ lab.PCsNumber }} and Chairs {{ lab.ChairsNumber }}
        </p>
    {% elif pageTitle == "editReport" %}
        <p>
            You Sure That You Want to Delete Report With The Next Detials ?
            Report in lab {{ report.lab }}
            In Floor {{ report.lab.floor }} in Building Number {{ object.lab.building }}
            and Number of PC is {{ report.pcNumber }} register In {{ report.date }}
            with Problem Type : {{ report.problemType }}
            and Description : {{ report.description }}
        </p>
    {% else %}
        <P></P>
    {% endif %}
    </article>

    <form class="form" method="post">
        {% csrf_token %}
        <!-- Cancel the deletion process and return him to perivous page -->
        {% if pageTitle == "editLab" %}
            <a href="{% url "edit_lab" lab.id %}">
                <button type="button" class="CancelButton" name="button">Cancel</button>
            </a>
        {% elif pageTitle == "editReport" %}
            <a href="{% url "list_all_reports" %}">
                <button type="button" class="CancelButton" name="button">Cancel</button>
            </a>
        {% endif %}

        <button type="submit" class="SubmitButton" name="button">Delete</button>
    </form>

{% endblock %}