{% extends "base.html" %}
{% block body %}
  <div class="container" style="min-height: 100vh;">
    <div class="searchlist" id="search-list">

    </div>
    <div>
      <section class="mainsection" id="2">
        <article class="MainArticle">
          <div>
            <h3>Why This WebApp ?</h3>
            <p>
              This web application is made for controling laps in diffrent
              institutions and help them to improve there laps and monitor them
            </p>
          </div>
        </article>
      </section>

    </div>
  </div>
{% endblock %}

{% block footer %}
    <footer class="footerauthdiv">
    <div class="footerauthdiv">
      <h3>Authors Of this WebApp</h3>
      <ul class="footerauth">
        <li>
          Mario Malak Alabd -- ID:20210313 &rarr;
          <a href="mailto:marioalabd611@gmail.com">Email</a>
        </li>
        <li>
          Youssef Refaat Samir -- ID:20210470 &rarr;
          <a href="mailto:11410120210470@stud.cu.edu.eg">Email</a>
        </li>
        <li>
          Mohamed Hassanein Sayed -- ID:20210333 &rarr;
          <a href="mailto:mohamed.hassanein2442003@gamil.com">Email</a>
        </li>
        <li>
          George Hanna Telmiz -- ID:20200130 &rarr;
          <a href="mailto:Georgetelmiz@gmail.com">Email</a>
        </li>
        <li>
          Ihab Ashraf Abd-ElMalak -- ID:20211021 &rarr;
          <a href="mailto:ehabashraf694@gmail.com">Email</a>
        </li>
      </ul>
    </div>
    <div>
      <h3>Copyright Reserved &copy; 2023</h3>
    </div>
  </footer>
{% endblock %}