{% extends "base.html" %}
{% block body %}
  <div class="container">
    <div class="searchlist" id="search-list">
    </div>
    <div>
      <table id="reportsTable-el" border="2px">
          <tr>
              <th>Sequence</th>
              <th>ID</th>
              <th>In Lab</th>
              <th>Building</th>
              <th>Floor</th>
              <th>PC Number</th>
              <th>Problem Type</th>
              <th>Date</th>
              <th>Description</th>
              <th>Edit</th>
              <th>Delete</th>
          </tr>
          <!-- Body -->
          {% for report in reports %}
              <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ report.reportId }}</td>
                  <td>{{ report.lab.building }}</td>
                  <td>{{ report.lab.floor }}</td>
                  <td>{{ report.pcNumber }}</td>
                  <td>{{ report.problemType }}</td>
                  <td>{{ report.data }}</td>
                  <td>{{ report.description }}</td>
                  <!-- Button to Go to Edit Page, to Edit or Delete This Lab -->
                  <td>
                      <a href="#">
                          <button type="button" class="EditButton" name="button">Edit</button>
                      </a>
                  </td>

                  <!-- Button to go to report page, to Report This Lab -->
                  <td>
                      <a href="#">
                        <button type="button" class="ReportButton" name="button">Delete</button>
                      </a>
                  </td>
              </tr>
          {% endfor %}
          <tr>
              <td colspan="10">Number Of Reports</td>
              <td>{{ reports.count }}</td>
          </tr>
      </table>
    </div>
  </div>
{% endblock %}