{% extends "base.html" %}
{% block body %}
    <form class="formback" method="post" novalidate>
        {% csrf_token %}
        <div class="formIn">
            <div class="Lab">
                <!--Reporting The Lab ID-->
                <label for="{{ form.lab.id_for_label }}">Laboratory ID:</label>
                {{ form.lab_disapled }}
                {{ form.lab_disapled.errors }}
            </div>

            <div class="NumPc">
                <!--Reporting The PC ID-->
                <label for="{{ form.pcNumber.id_for_label }}">Number of pc:</label>
                {{ form.pcNumber }}
                {{ form.pcNumber.errors }}
            </div>

            <div class="ProblemDate">
                <!--Reporting The Date Of Problem-->
                <label for="{{ form.date.id_for_label }}">Problem date:</label>
                {{ form.date }}
                {{ form.date.errors }}
            </div>

            <div class="ProblemDescription">
                <!--Reporting The Problem Description-->
                <label class="pb-10" for="{{ form.description.id_for_label }}">Description of problem:</label>
                {{ form.description }}
                {{ form.description.errors }}
            </div>

            <div class="ProblemType">
                <p>Problem type :</p>
                {% for foo in form.problemType %}
                    {{ foo }}
                {% endfor %}
                {{ form.problemType.errors }}
            </div>

            <button class="button" id="submit-btn">{{ buttonName }}</button>

        </div>
    </form>
{% endblock %}