{% extends "base.html" %}
{% block body %}
    <form class="formback" method="post">
        {% csrf_token %}
        <div class="formIn">
            <div class="Lab">
                <!--Reporting The Lab ID-->
                <label for="{{ form.lab.id_for_label }}">Laboratory ID:</label>
                {{ form.lab }}
            </div>


            <div class="NumPc">
                <!--Reporting The PC ID-->
                <label for="{{ form.pcNumber.id_for_label }}">Number of pc:</label>
                {{ form.pcNumber }}
            </div>


            <div class="ProblemType pb-10">
                <p>Problem type :</p>
                {{ form.problemType }}
            </div>

            <div class="ProblemDate PB">
                <!--Reporting The Date Of Problem-->
{#                <label for="{{ form.date.id_for_label }}">Problem date:</label>#}
                {{ form.date }}
            </div>

            <div class="ProblemDescription">
                <!--Reporting The Problem Description-->
                <label class="pb-10" for="{{ form.description.id_for_label }}">Description of problem:</label>
                <br>
                {{ form.description }}
            </div>

            <button class="button" id="submit-btn">{{ buttonName }}</button>

        </div>
    </form>
{% endblock %}