  <!-- <header class="pageheader" id="1">
  <h1>List of laps</h1>
  <img decoding="async" src="https://via.placeholder.com/50x50/F00" alt="Logo">
  </header> -->
  <nav>
    <ul class="nav">
      <li class="nav">
        <a href="{% url "home" %}" title="HomePage">HomePage </a>
      </li>
      <li class="nav">
        <a href="{% url "add_lab" %}" title="AddLaboratory" >Add A Lap</a>
      </li>
      <li class="nav">
        <a href="{% url "list_all_labs" %}" title="LaboratoriesList">List of Laps</a>
      </li>
      <li class="nav">
          <a href="#" title="AddPc">Add PC</a></li>
      <li class="nav">
        <a href="{% url "list_all_reports" %}" title="ListOfReports">List Of Reports</a>
      </li>
      <li>
        <input type="search" placeholder="Search" class="searchbar" id="search-bar" onkeyup="search()" />
      </li>
    </ul>
  </nav>
